{% extends 'base.html.twig' %}

{% block body %}
    <h3>Registe-se gratuitamente</h3>
    <div class="title">Registe-se de forma fácil e rápida. O registo é rápido e grátis.</div>
    <div class="form">
        <form method="POST" name="regForm" id="regForm" action="">
            <p>
                <label class="text required" for="email">Email</label>
                <input type="text" id="email" name="email" maxlength="50" class="default-size">
            </p>
            <p>
                <label class="text required" for="email-conf">Confirmar Email</label>
                <input type="text" id="email-conf" name="email-conf" maxlength="50" class="default-size">
            </p>
            <br>
            <p>
                <label class="text required" for="password">Password</label>
                <input type="text" id="password" name="password" maxlength="30" class="medium-size">
            </p>
            <p>
                <label class="text required" for="password-conf">Confirmar Password</label>
                <input type="text" id="password-conf" name="password-conf" maxlength="30" class="medium-size">
            </p>
            <br>
            <p>
                <label class="text required">Nome</label>
                <input type="text" id="name" name="name" maxlength="50" placeholder="Nome" style="width:198px;">
                <input type="text" id="surname" name="surname" maxlength="50" placeholder="Apelido" style="width:198px;">
            </p>
            <p>
                <label class="text" for="address">Rua / Nº</label>
                <input type="text" id="address" name="address" maxlength="50" class="default-size">
            </p>
            <p>
                <label class="text">Código Postal / Localidade</label>
                <input type="text" id="postcode" name="postcode" maxlength="15" placeholder="Ex. 9999-999" style="width:149px;">
                <input type="text" id="city" name="city" maxlength="35" style="width:248px;">
            </p>
            <p>
                <label class="text" for="country">País</label>
                <select name="country" id="country" class="medium-size">
                    <option value="1">Portugal</option>
                </select>
            </p>
            <p>
                <label class="text" for="nif">NIF</label>
                <input type="text" id="nif" name="nif" maxlength="15" class="medium-size">
            </p>
            <p>
                <label class="text" for="telephone">Telefone</label>
                <input type="text" id="telephone" name="telephone" maxlength="15" placeholder="Insira o número aqui" class="medium-size">
            </p>
            <br>
            <p>
                <input type="submit" id="submit" name="submit" value="Registo" class="btn">
            </p>
        </form>
    </div>
{% endblock %}