{% extends 'base.html.twig' %}

{% block body %}
    <h3>Registe-se gratuitamente</h3>
    <div class="title">Registe-se de forma fácil e rápida. O registo é rápido e grátis.</div>
    <div class="form">
        <form method="POST" name="regForm" id="regForm" action="">
            <p>
                <label class="text required" for="email">Email</label>
                <input type="text" id="email" name="email" maxlength="50" class="default-size">
            </p>
            <p>
                <label class="text required" for="emailconf">Confirmar Email</label>
                <input type="text" id="emailconf" name="emailconf" maxlength="50" class="default-size">
            </p>
            <br>
            <p>
                <label class="text required" for="password">Password</label>
                <input type="password" id="password" name="password" maxlength="30" class="medium-size">
            </p>
            <p>
                <label class="text required" for="passwordconf">Confirmar Password</label>
                <input type="password" id="passwordconf" name="passwordconf" maxlength="30" class="medium-size">
            </p>
            <br>
            <p>
                <label class="text required">Nome</label>
                <input type="text" id="name" name="name" maxlength="50" placeholder="Nome" style="width:198px;">
                <input type="text" id="lastname" name="lastname" maxlength="50" placeholder="Apelido" style="width:198px;">
            </p>
            <p>
                <label class="text" for="street">Rua / Nº</label>
                <input type="text" id="street" name="street" maxlength="50" class="default-size">
            </p>
            <p>
                <label class="text">Código Postal / Localidade</label>
                <input type="text" id="postcode" name="postcode" maxlength="15" placeholder="Ex. 9999-999" style="width:149px;">
                <input type="text" id="city" name="city" maxlength="35" style="width:248px;">
            </p>
            <p>
                <label class="text" for="country">País</label>
                <select name="country" id="country" class="medium-size">
                    <option value="Portugal">Portugal</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Hungria">Hungria</option>
                    <option value="Espanha">Espanha</option>
                </select>
            </p>
            <p>
                <label class="text" for="nif">NIF</label>
                <input type="text" id="nif" name="nif" maxlength="15" class="medium-size">
            </p>
            <p>
                <label class="text" for="phone">Telefone</label>
                <input type="text" id="phone" name="phone" maxlength="15" placeholder="Insira o número aqui" class="medium-size">
            </p>
            <br>
            <p>
                <input type="submit" id="submit" name="submit" value="Registo" class="btn">
            </p>
        </form>
    </div>
{% endblock %}