.content {
    width: 70%;margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
}

label.text {
    width: 155px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
    margin-left: 80px;
}

label.required:after { content:" *";color: #e32; }

div.form {
    border: 1px solid #ded8d8;
    background-color: #eeeeee;
}

.default-size {
    width: 400px;
}

.medium-size {
    width: 185px;
}

input {
    box-sizing: border-box;
}

div.title {
    font-size: 12px;
    margin-bottom: 3px;
}

div.message {
    position:absolute;
    right: 0;
    top: 38px;
    font-size: 15px;
    font-weight: bold;
}

div.error {
    color: red;
}

.btn {
    background-color: #4288CE;
    color: #ffffff;
    width: 130px;
    margin-left: 258px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding-bottom: 5px;
    padding-top: 5px;
}
